
body{
    
    background-color:rgb(44, 42, 42);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar ul{
    z-index: 1;
    background-color: rgb(241, 241, 241);
   display: inline-block;
    padding-right: 11px ;
    border: 2px solid black;
    margin-left: 123px;
    margin-right: 8px;
    position: fixed;
    max-height: 100px; 
}
.navbar ul li {
    list-style: none;
    margin: 5px;
    display: inline-block;
    border: 2px solid  rgba(255, 145, 0, 0.5);
    background-color: rgb(51, 49, 49);
    border-radius: 5px;
    padding: 4px;  
    transition: background-color .3s;
}

.navbar ul li:hover {
    background-color: black;
}

.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}
.navbar ul li a:active{
    text-decoration: none;
    color: rgb(114, 112, 112);
    font-size: 18px;
}
.navbar ul .selected{
    border: 2px solid black;
}


.logo {
    z-index: 1;
    height: 100px;
    position: fixed;
    margin-top: 14px;
    margin-left: 13px;
    border-radius: 10px;
}
@media only screen and (max-width: 890px) {
    .navbar ul{
        overflow:scroll;
        max-height: 100px;

    }
}
